<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <style>
        * {
            text-decoration-line: none;
        }
    </style>
</head>
<body>
    <h3>您好！ 欢迎来到首页!</h3>
    <h4>您可以做以下事情！</h4>
    <p>
        <a href="/Stu_info/addStu/">添加一个学生</a>
    </p>
  <p>
        <a href="/Stu_info/delStu/">删除一个学生</a>
    </p>
  <p>
        <a href="">绑定一个学生号</a>
    </p>
  <p>
        <a href="">查询学生号</a>
    </p>
<p>
        <a href="/Stu_info/showallStu/">显示所有学生</a>
    </p>
<p>
        <a href="/Stu_info/delall/">删除所有学生</a>
    </p>
</body>
</html>