<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>一对一关系</title>
     <style>
        *{
          text-decoration-line: none;
            font-size: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
<p>
    <a href="/app/addperson/">添加人</a>
</p>
<p>
    <a href="/app/bindcard/">添加身份证(绑定)</a>
</p>
<p>
    <a href="/app/deleteperson/">删除人(人死了，卡怎么办呢？)</a>
</p>
<p>
    <a href="/app/deleteIDcard/">删除卡(身份证注销，人怎么办？)</a>
</p>
<p>
    <a href="/app/getperson_card/">人 获取 身份证信息(主表获取从表信息)</a>
</p>
<p>
    <a href="/app/getcard_person/">身份证 获取 人的信息(从--主)</a>
</p>
</body>
</html>