{% extends 'Bases.html' %}

{% block header %}
   <h1 style="text-align: center;padding-top: 30px;">Welcome to Join Us!</h1>
{% endblock %}

{% block body1 %}
    <div>
    <p style="color: red">{{ unknown_user }}</p>
    <form action="{% url 'app:signin' %}" method="post">
        {% csrf_token %}
    <h3 style="margin-left: 30px;font-size: 26px">Join Us!</h3><br>
    <p>Username:<input name="username" type="text"></p><br>
    <p>Password:<input name="password" type="password"></p><br>
    <p>Money:<input name="money" type="text"></p><br>
    <p>E_mail:<input name="E_mail" type="text"></p><br>
        <p>sex:<input name="sex" type="radio" value="男" id="1"><label for="1">Boy</label>
            <input name="sex" type="radio" value="女" id="2"><label for="2">Girl</label></p><br>

    <p><input type="submit" value="sign in"></p>
    </form>
    </div>
{% endblock %}