<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include 'boot.html' %}
</head>
<body>
    <p>
{#<a href="/mt/basedemo/">模板基础语法</a>#}
        {#反向解析#}
        <a href="{% url 'jd:basedemo' %}">模板基础语法</a>
    </p>
    <p>
        <a href="{% url 'jd:includedemo' %}">include标签</a>
    </p>
    <p>
        <a href="{% url 'jd:home' %}">home</a>
    </p>
    <p>
        <a href="{% url 'jd:cart' %}">cart</a>
    </p>
    <p>
        <a href="{% url 'jd:mine' %}">mine</a>
    </p>
<p>
        <a href="{% url 'jd:loginview' %}">登录</a>
    </p>
</body>
</html>
