<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎登录</title>
</head>
<body >
    <form action="/dologin">
        用户名:<input type="text" name="username"> <br>
        密&nbsp码:<input type="password" name="password"> <br>
        爱好:<input type="checkbox" name="hobby" value="1">打篮球
        <input type="checkbox" name="hobby" value="2">吃饭
        <input type="checkbox" name="hobby" value="3">睡觉 <br>
        <input type="submit" value="登录"> <br>
        <!--<a href="http://localhost:8090/complain"><h6>我要投诉</h6></a>-->
    </form>
</body>
</html>